In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dehradun_land_price.csv')
df

,zone,town/village,area_type,agriculture,"services(transport,hospital,water supply,education,market)"
0,Bhaniyawala,yes,residential,yes,1
1,Bhaniyawala,yes,residential,yes,5
2,Bhaniyawala,yes,residential,yes,4
3,Bhaniyawala,yes,residential,yes,3
4,Bhaniyawala,yes,residential,yes,2
...,...,...,...,...,...
611,Vikasnagar,no,commercial,no,4
612,Vikasnagar,no,commercial,no,3
613,Vikasnagar,no,commercial,no,2
614,Vikasnagar,no,commercial,no,1
615,Vikasnagar,no,commercial,no,0